<mat-toolbar color="primary">
  <span>My Calendar App</span>
</mat-toolbar>
<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a mat-tab-link
     routerLink="/calendar"
     routerLinkActive
     #rlaCalendar="routerLinkActive"
     [active]="rlaCalendar.isActive">
    Calendar
  </a>
  <a mat-tab-link
     routerLink="/add-appointment"
     routerLinkActive
     #rlaAddAppointment="routerLinkActive"
     [active]="rlaAddAppointment.isActive">
    Add Appointment
  </a>
</nav>
<router-outlet></router-outlet>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
